* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-box {
    border: 1px solid darkgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-name {
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    max-width: 100%;
    color: black;
   

}

span {
    padding: 4px;
    color: darkgrey;
}

.user-follow {
    background-color: #0095f6;
    border: 1px solid transparent;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    border-radius: 5px;
}